<div class="content_r_head"> Каталог </div>
<%  @products.each do |item| %>
<div class="product">

    <div class="product_pic">
      <%= link_to image_tag(item.photo.url(:small), :alt => item.name), item %>
    </div>

    <% if item.available == false %>
        <div class="not-in-stock"> Нет в наличии </div>
    <% else %>
        <div class="stock"> Есть в наличии </div>
    <% end %>

    <div class="product_text">
      <table>
        <tbody>
        <tr>
          <td><%= item.name %></td>
        </tr>
        </tbody>
      </table>
    </div>


  <div class="product_price_grey">
    <%= item.price %>
    <span> грн</span>
  </div>

  <div class="product_order">
    <% if item.available %>
      <%= image_tag("order_button.png") %>
        <% else  %>
      <%= image_tag("pre_order_button.png") %>
        <% end %>
  </div>
</div>


<% end %>