<div class="content_r"><div class="content_r_head"> <%= @product.product_type %></div>
  <div class="more_l">
    <%=  image_tag(@product.photo.url(:small), :alt => @product.name)%>
  </div>
          <div class="more_r">
        <h1><%= @product.name %></h1>
        <div class="more_r_l">
          <div class="more_price_grey">
            <%= @product.price %>
            <span> грн</span>
          </div>
          <div class="more_usd"> $ <%= (@product.price / 8.2).to_i %> </div>
        </div>
        <div class="more_r_r">
          <div class="more_order">
            <a href="/index.php/order/put/269?quantity=1">

            </a>
          </div>
          <% if @product.available == false %>
              <div class="more_order">
              <%= image_tag("more_pre_order_button.png") %>
              </div>
            <div class="more-not-in-stock"> Нет в наличии </div>
          <% else %>
              <div class="more_order">
                <%= image_tag("more_order_button.png") %>
              </div>
              <div class="more_stock"> Есть в наличии </div>
          <% end %>
        </div>
        <div class="old_price"> </div>
        <div class="min_order">  Минимальный заказ: <%= @product.minimal_quantity %> шт. </div>
        <div class="more_pics">
          <div class="more_pic">
            <a class="fancybox" rel="product" href="/storage/product/large_16Jul2012_18-58-01arnaya_polka_urakami_-_ogdana_melnickogo_10_1_jpg.jpg">
          </div>
          <div class="more_pic">
            <a class="fancybox" rel="product" href="/storage/product/large_16Jul2012_18-53-12arnaya_polka_urakami_-_estivalnyy_2_jpg.jpg">
          </div>
          <div class="more_pic">
            <a class="fancybox" rel="product" href="/storage/product/large_16Jul2012_18-57-54arnaya_polka_urakami_-_estivalnyy_1_jpg.jpg">
          </div>
        </div>
      </div>
  <div class="more_tabs">
    <ul>
      <li>
        <a class="active" href="#">Описание товара</a>
      </li>
    </ul>
    <div class="more_tab">
      <%= @product.description %>
    </div>
  </div>