<%= form_for @gallery, :html => {:multipart => true} do |f| %>
    <% if @gallery.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@gallery.errors.count, "error") %> prohibited this gallery from being saved:</h2>

          <ul>
            <% @gallery.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label 'Название проекта' %><br />
      <%= f.text_field :name %>
    </div>

    <% number = 0 %>
    <div id="files">
    <%= render :partial => "files/form", :locals => {:number => number} %>
    </div>

    <%= link_to "Добавить еще один файл", 'javascript:',
                :id => "add_another_file" %>


    <div class="actions">
      <%= f.submit  "Создать проект" %>
    </div>
<% end %>