<p>
  <%= form_for(@product, :html => {:multipart => true}) do |f| %>

      <%= f.error_messages %>
      <%= select("product", "general_type_id", GeneralType.all.collect {|p| [ p.category, p.id ] }, {:include_blank => 'Выберите тип товара ->>>'})  %><br /><br />
      <%= f.label 'Цена:' %><br />
      <%= f.text_field :price %><br />
      <%= f.label 'Название:' %><br />
      <%= f.text_field :name %><br />
      <%= f.label 'Описание:' %><br />
      <%= f.text_area :description %><br />
      <%= f.label 'Наличие:' %>
      <%= f.check_box :available %><br /><br />
      <%= f.label 'Фото:' %>   <br />


      <% number = 0 %>
      <%= f.fields_for :assets do |asset| %>
          <% if asset.object.new_record? %>
              <p>
                <%= asset.label :asset, "Фото ##{number +=1}" %>
                <%= asset.file_field :asset %>
              </p>
          <% end %>
      <% end %>

      <%= f.fields_for :assets do |asset| %>
          <% unless asset.object.new_record? %>
              <p>
                <%= image_tag asset.object.asset.url(:thumb) %>
              </p>
          <% end %>
      <% end %>

      <%= f.submit %>
  <% end %>
  </p>