<!--Fancybox script-->
<script type="text/javascript">
    $(document).ready(function() {
        $(".fancybox").fancybox();
    });
</script>




      <%= notice %>
<% if @product.nil? %>
    <%= redirect_to products_path %>

<% else %>
    <div class="content_r"><div class="content_r_head"> <%= @product.product_type %></div>
      <div class="more_l">
        <% if @product.assets.first %>
            <a class="fancybox" rel="group" href=<%= @product.assets[0].asset.url(:large) %>
                    <img src="<%= image_tag @product.assets[0].asset.url(:thumb) %>
                    <%= image_tag @product.assets[0].asset.url(:thumb) %></a>
            <% end %>
      </div>
      <div class="more_r">
        <h1><%= @product.name %></h1>
        <div class="more_r_l">
          <div class="more_price_grey">
            <%= @product.price %>
            <span> грн</span>
          </div>
          <div class="more_usd"> $ <%= (@product.price / 8.2).to_i %> </div>
        </div>
        <div class="more_r_r">
          <div class="more_order">
            <a href="/index.php/order/put/269?quantity=1">
            </a>
          </div>
          <% if @product.available == false %>
              <div class="more_order">
                <%=link_to image_tag("more_pre_order_button.png"), line_items_path(:product_id => @product),:method => :post %>
              </div>
              <div class="more-not-in-stock"> Нет в наличии </div>
          <% else %>
              <div class="more_order">
                <%=link_to image_tag("more_order_button.png"), line_items_path(:product_id => @product), :method => :post %>
              </div>
              <div class="more_stock"> Есть в наличии </div>
          <% end %>
        </div>
        <div class="old_price"> </div>
        <div class="min_order">  Минимальный заказ: <%= @product.minimal_quantity %> шт. </div>
        <div class="more_pics">
          <div class="more_pic">
            <% if @product.assets[1] %>
                <a class="fancybox" rel="group" href=<%= @product.assets[1].asset.url(:large) %><img src="<%= image_tag @product.assets[1].asset.url(:thumb) %><%= image_tag @product.assets[1].asset.url(:small) %></a>
                <% end %>
          </div>
          <div class="more_pic">
            <% if @product.assets[2] %>
                <a class="fancybox" rel="group" href=<%= @product.assets[2].asset.url(:large) %><img src="<%= image_tag @product.assets[2].asset.url(:thumb) %><%= image_tag @product.assets[2].asset.url(:small) %></a>
                <% end %>
          </div>
          <div class="more_pic">
            <% if @product.assets[3] %>
                <a class="fancybox" rel="group" href=<%= @product.assets[3].asset.url(:large) %><img src="<%= image_tag @product.assets[3].asset.url(:thumb) %><%= image_tag @product.assets[3].asset.url(:small) %></a>
                <% end %>
            </div>
        </div>
      </div>
      <div class="more_tabs">
        <ul>
          <li>
            <a class="active">Описание товара</a>
          </li>
        </ul>
        <div class="more_tab">
          <%= @product.description %>
        </div>
      </div>
<% end %>