<div class="footer">
  <div class="footer_nav">
    <ul>
      <li><%= link_to "Главная", root_path %></li>
      <li><%= link_to "Товары и услуги", products_path %></li>
      <li><%= link_to "Наши проекты", galleries_path %></li>
      <li><%= link_to "О компании", '/about' %></li>
      <li><a href="#">Новости и статьи</a></li>
      <li><%= link_to "Контакты", '/contact' %></li>
    </ul>
  </div>
  <div class="footer_bottom_decoration">
  </div>
  <div class="footer_rights">
    Все права защищены "УКРСТАЙЛ" Copyright © 2012
  </div>
</div>


<b class="clearb"></b>