<!DOCTYPE html>
<html>
<head>
  <title>Укрстайл™ Мебель для ресторанов, кафе, баров, дома и офиса</title>
  <%= stylesheet_link_tag    "form" %>
  <%= stylesheet_link_tag    "main" %>
  <%= stylesheet_link_tag    "pager" %>
  <%= stylesheet_link_tag    "reset" %>
  <%= stylesheet_link_tag    "js-image-slider" %>
  <%= stylesheet_link_tag    "jquery.fancybox.css" %>

  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "jquery.fancybox.js"  %>


  <%= csrf_meta_tags %>
</head>
<body>
<div class="page_center">

  <%= render "layouts/header" %>
  <%= render "layouts/header_nav" %>

  <% if controller.controller_name == "main" && controller.action_name == "index" %>
      <%= render "layouts/slider" %>
      <div class="content content_under_slider">
        <%= render "layouts/content_under_slider" %>
  <% else %>
      <div class="content">
        <%= render "layouts/content_under_slider" %>


  <% end %>

  <div class="content_r">
    <%= yield %>
  </div>
  </div>
  <%= render "layouts/footer" %>

  </div>
</div>
</body>
</html>
